# ======================
# Node / React
# ======================
node_modules/
dist/
.env

# ======================
# Visual Studio / .NET
# ======================
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll

# ======================
# Company Packages (Local)
# ======================
NugetPackages/

# ======================
# Logs
# ======================
*.log
Logs/

# Python virtual env
.venv/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
